<section class="gis-map">
    <mgl-map
        [style]="'mapbox://styles/mapbox/dark-v11'"
        [zoom]="zoom"
        [center]="center"
        [pitch]="[45]"
        [bearing]="[-17.6]"
        (mapLoad)="onLoad($event.target)"
        [attributionControl]="false"
    >
        <mgl-layer
            id="3d-buildings"
            source="composite"
            sourceLayer="building"
            [filter]="['==', 'extrude', 'true']"
            type="fill-extrusion"
            [minzoom]="15"
            [paint]="{
                'fill-extrusion-color': '#aaa',
                'fill-extrusion-height': [
                    'interpolate',
                    ['linear'],
                    ['zoom'],
                    15,
                    0,
                    15.05,
                    ['get', 'height']
                ],
                'fill-extrusion-base': [
                    'interpolate',
                    ['linear'],
                    ['zoom'],
                    15,
                    0,
                    15.05,
                    ['get', 'min_height']
                ],
                'fill-extrusion-opacity': 0.6
            }"
            [before]="labelLayerId"
        ></mgl-layer>
    </mgl-map>
</section>
